.splash {
  height: 100vh;
  display: flex;
  min-width: 320px;
}

.splash-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4vh 4vw 4vh 4vw;
  flex-grow: 1
}

.page {
  height: 120vh;
  padding: 14vh 4vw;
  min-width: 320px;
}

.portfolio, .about, .photos, .misc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-content, .misc-content {
  display: flex;
  justify-content: space-between;
}

.storybox, .sy-photo, .mapbox, .misc-slideshow {
  width: 50%;
  height: 80vh;
  padding: 2vh 0;
}

.sy-photo {
  object-fit: cover;
  padding-right: 2vw;
}

.storybox {
  padding-left: 2vw;
  overflow: scroll;
}

