.splash {
  height: 100vh;
  display: flex;
  min-width: 320px;
  background-image: url("../../img/splash.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.splash-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4vh 3vw 6vh 4vw;
  flex-grow: 1;
}

.splash-content h1 {
  color: rgba(255, 255, 255, 0.85)
}

.splash-highlight {
  color: rgba(0, 238, 175, 0.9)
}

.page {
  height: 120vh;
  padding: 14vh 4vw;
  min-width: 320px;
}

.portfolio, .about, .photos, .misc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-content, .misc-content {
  display: flex;
  justify-content: space-between;
}

.about {
  background-color: rgba(0, 238, 175, 1)
}


.storybox, .sy-photo, .mapbox, .misc-slideshow {
  width: 50%;
  height: 80vh;
}

.sy-photo {
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  object-fit: cover;
  margin-right: 20px;
}

.storybox {
  padding: 2vh 2vw;
  overflow: scroll;
  background-color: rgba(0,0,0,0.05);
  margin-left: 20px;
  color: rgb(15,15,15);
}

.about-highlight {
  color: rgb(15,15,15);
}

.photos {
  background-color: white;
}

.misc {
  background-color: rgb(15,15,15);
}

.misc h1 {
  color: rgba(0, 238, 175, 1);
}

.photos, .portfolio h1 {
  color: rgba(0, 238, 175, 0.75);
}


